@page
@model MyHomeWebsite.Pages.MyWorkExperience.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>WorkExperience</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkExperience.experience" class="control-label"></label>
                <input asp-for="WorkExperience.experience" class="form-control" />
                <span asp-validation-for="WorkExperience.experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkExperience.Responsibility" class="control-label"></label>
                <input asp-for="WorkExperience.Responsibility" class="form-control" />
                <span asp-validation-for="WorkExperience.Responsibility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkExperience.SkillGained" class="control-label"></label>
                <input asp-for="WorkExperience.SkillGained" class="form-control" />
                <span asp-validation-for="WorkExperience.SkillGained" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
